{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


<!-- Content block -->
{% block content %}



<div class="container">

	 
	<div class="row">
		

		
		<h2>Blogs Posted</h2>

		</div>

		<hr>


	<div class="row">
		

		 <ul class="list-unstyled" style="font-size: 15px;">
            {{ macro.displayPosts(posts)}}
        </ul>


	</div>

	
</div>
{% endblock%}

