{% macro displayPosts(posts_list) %} 
  {% for posts in posts_list%}



<style>

  .text-right {
  font-size: 34px;
  }
  #time {
    font-size: 25px;
  }


</style>




    <div class="well well-lg col-xs-12 col-sm-12 col-md-12 col-lg-12 pitch-card text-center">
      <h3> <a href="/post/{{posts.id}}"> {{ posts.post_title }} </a></h3>
      <p> {{ posts.post_content | truncate(45) }} </p>

    </div> 
    {% endfor%}
{% endmacro%}






<!-- Display Comments -->
{% macro displayComments(comment_list) %} 
{% for comment in comment_list%}




 <style>
      
      .list-group {
        font-size: 19px;

      }

     

    </style>
  <ul class="list-group">
  <li class="list-group-item list-group-item-info">
    {{ comment.comment_content}}
    <br><br>
    <p class="text-right">Posted by {{ comment.user.username }} on:{{comment.date_posted.strftime('%B %d, %Y %r')}}</p>
    <a class="btn btn-success btn-lg text-center" href="/post/comment/delete/{{comment.id}}">Delete Comment</a>
                
                
            
  </li>
  </ul>
{% endfor%}
{% endmacro%}















